{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        window.ALLOYEDITOR_BASEPATH='static/dependencies/node_modules/alloyeditor/dist/alloy-editor/';
        window.CKEDITOR_BASEPATH='static/dependencies/node_modules/alloyeditor/dist/alloy-editor/';
    </script>
    <link rel="stylesheet" href="/static/dependencies/node_modules/alloyeditor/dist/alloy-editor/assets/alloy-editor-ocean-min.css">
    <!--<link rel="stylesheet" href="/static/dependencies/node_modules/alloyeditor/dist/alloy-editor/assets/alloy-editor-atlas-min.css">-->
    <!--<link rel="stylesheet" href="/static/dependencies/node_modules/alloyeditor/dist/alloy-editor/assets/alloy-editor-moono-min.css">-->
</head>
<body>
    <div id="content"></div>
    <script src="/static/dependencies/bundle.js" charset="utf-8"></script>
</body>
</html>